<div class="align-left">
{% if error %}
    <div class="light small bold">{{error}}</div>
{% else %}
    <div class="light small normal"><span class="bright">{{lastTimeMotionDetected}}</span> (score: <span class="bright">{{lastScoreDetected}}</span>)</div>
    <div id="camera"></div>
{% endif %}
</div>
